{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Voiture de confiance
{% endblock title %}

{% block body %}

<h1>Nos offres</h1>

<table class="table">
    <tr>
        <th>Fabricant</th>
        <th>Nom</th>
        <th>Actions</th>
    </tr>

    {% for car in cars %}
        <tr>
            <td>{{ car.make }}</td>
            <td>{{ car.name }}</td>
            <td><a href="{{ url('show_car', {id: car.id }) }}">Afficher les details</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock body %}