<!DOCTYPE html>
<html>
    {% block head %}
      <head>
          <meta charset="UTF-8" />
          <title>{% block title %}Autotracker{% endblock %}</title>
          {% block stylesheets %}
            <link rel="stylesheet" href="/css/main.css">
          {% endblock %}
          <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
      </head>
    {% endblock head %}
    <body>
      
          {% block header %}
            <header>
                <a href=""><img src="" alt="">LOGO SITE</a>
                <div class="navBarWrapper">
                  <div class="navBarContainer">
                      <nav id="navigation-bar">
                            {{ knp_menu_render('AppBundle:Builder:mainMenu',{'currentClass': 'active'}) }}
                      </nav>
                    </div>
                </div>
            </header>
          {% endblock header %}
        
        
        {% block body %} {% endblock body %}

        {% block javascripts %} {% endblock %}
    </body>
</html>
